a{
	text-decoration: none;
}
.title1{
	color:#05487f;
	font-size: 24px;
	font-variant:petite-caps;
	font-weight: normal;
	border-bottom: 1px solid #05487f;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.padding1{
	padding: 50px;
}
#header{
	padding: 20px 0;
}
#header-bvs{
	height: 120px;
}
#logo-costarica{
	margin-left: 20px;
}
#nav{
	background: #1772b1!important;
	color: #fff;
}
#nav a{
	color: #fff;
}
#nav a:hover{
	color: #ccc;
}
#footer{
	padding: 30px 0;
	background: #31296c;
	color: #fff;
}
#footer a{
	color: #fff;
}
#footer a:hover{
	color: #ccc;
}