*{
	font-family: 'Roboto' sans-serif;
}
.font-1{	
	font-family: "Roboto Serif";
}
.title1{
	color: #000;
	font-family: "Roboto Serif";
	font-size: 36px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}
.title-icon{
	float: left;
	height: 45px;
	margin-right: 10px;
}
#header{
	padding: 35px 0 0 0;
	position: sticky;
	top: 0;
	background: #FFF;
	z-index: 9999;
	transition:  all .5s ease;
}
#header .container{
	position: relative;
}
#brand{
	font-size: 36px;
	font-weight: 600;
	word-spacing: 0;
}
#brand small{
	font-size: 16px;
	font-weight: 700;
	display: block;
}
#footer{
	background: #D9D9D9;
	padding: 50px 0 20px 0;
}
#footer a{
	color: #000;
	text-decoration: none;
} 
#footer a:hover{
	color: #999;
}
#hamburger{
	display: none;
	position: absolute;
	right: 0;
	border: 0;
	color: #000;
	background: #fff;
	font-size: 30px;
}
.hamburger{
	display: block!important;
}
#brand-icon{
	height: 82px;
	float: left;
	margin-right: 10px;
}
#nav{
	text-align: right;
}
#nav ul{
	list-style: none;
}
#nav a, #nav-regional a{
	color: #000;
	text-decoration: none;
}
#nav a:hover, #nav-regional a:hover{
	color: #ddd;
	text-decoration: none;
}
#nav-global{
	font-size: 16px;
	font-weight: 400;
	margin-top: 57px;
}
#nav-regional{
	background: #F3F3F2;
	padding: 10px 0;
	font-size: 15px;
	font-weight: 400;
	margin-top: 15px;
}
#nav-regional ul{
	margin-bottom: 0; 
}
#nav-global li{
	display: inline-block;
	padding-left: 20px;
}
#nav-regional li{
	display: inline-block;
	border-right: 1px solid #000;
	padding-right:5px ; 
}
#nav-regional li:last-child{
	padding: 0; border: 0;
}
#section-search{
	background-image: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)), url('../img/img-search.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 700px;
}
#box-search{
	display: flex;
	width: 600px;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	padding-top: 220px;
	z-index: 10;
}
#section-search .title{
	color: #FAFAFA;
	font-family: "Roboto Serif";
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
#section-search p{
	color: #FAFAFA;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}
#box-search-links a{
	color: #fff;
	text-decoration: none;
	margin-right: 30px;
	font-size: 14px;
}
#box-search-links a:hover{
	color: #999;
}
#home-highlights{
	background: rgb(255,218,185);
	background-image: url('../img/bg-lighlights.png'), linear-gradient(15deg, rgba(255,255,255,1) 2%, rgba(255,218,185,1) 33%, rgba(173,216,230,1) 61%, rgba(95,144,195,1) 100%);
	margin: 0;
	padding: 50px 0 20px 0;
	background-position: bottom;
	background-repeat: repeat-x;
}
#desc-trend{
	font-size: 20px;
	font-weight: 300;
	line-height: 140%; /* 28px */
}
.card-trend{
	background: #F3F3F2;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.card-trend .card-title{
	color: #000;
	font-family: "Roboto Serif";
	font-size: 26px;
	font-weight: 700;
	line-height: 120%; /* 31.2px */
}
.card-trend .card-text{
	font-size: 16px;
	font-weight: 300;
	line-height: 160%; /* 25.6px */
}
.container-featured{
	display: flex;
	gap: 20px;
}
.featured-card {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.card.maior {
	flex: 2;
}
.card-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
}
.card-featured{
	border-radius: 16px;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.featured1{
	background:linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)), url('../img/featured1.png') center ;
}
.featured2{
	background:linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)), url('../img/featured2.png') center ;
}
.featured3{
	background:linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)), url('../img/featured3.png') center ;
}
.card-featured .title{
	font-family: "Roboto Serif";
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}
.card-featured p{
	margin-top: 15px;
	font-size: 16px;
	line-height: 160%;
}
.box-card-maior{
	max-width: 430px;
}
.featured1, .featured2, .featured3{
	color: #fff;
	padding: 30px;
	border: 0;
}
#events{
	background-image: linear-gradient(90deg, #0C2B64 38.19%, rgba(12, 43, 100, 0.00) 100%), url('../img/img-events.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
	color: #fff;
}
#events h3{
	color: #fff;
	font-size:26px;
	font-weight: 700;
}
#box-events{
	width: 560px;
	padding: 100px 0;
}
#news{
	padding: 60px 0;
}
#newsletter{
	padding: 50px 0 30px 0;
	background: linear-gradient(to right, rgba(0, 115, 168, .7), rgba(0, 115, 168, .7)), url('../img/img-newsletter.png') no-repeat right ;
	color: #fff;
}
#newsletter .title{
	color: #FFF;
	font-family: "Roboto Serif";
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 31.2px */
}
#newsletter p{
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: normal;
}
.news-card{
	border-radius: 16px;
	background: #F3F3F2;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.news-card .card-title{
	color: #000;
	font-family: "Roboto Serif";
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 26.4px */
}
.news-card .card-img-top{
	padding: 10px;
}
.card-img-top{
	width: 100%;
	height: auto;
}
.news-card a{
	color: #000;
	text-decoration: none;
}
.news-card a:hover{
	color: #999;
	text-decoration: none;
	border-radius: 16px;
}
.news-card .card-footer, .card-trend .card-footer{
	border-top: 0;
	background: none;
	padding-top: 0;
	padding-bottom: 20px;
}
#powered-by{
	text-align: center;
	font-size: 13px;
}
#powered-by img{
	width: 150px;
	margin-bottom: 10px;
}
#border-left-1{
	border-left: 1px solid #000;
}
.headerFixo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	transition: all 0.3s ease;
	padding: 0!important;
	opacity: .9;
	transition:  all .5s ease;
}

.headerFixo:hover{
	opacity: 1.0!important;
}
.headerFixo nav{
	display: none;
	transition:  all .5s ease;
}
.headerFixo #brand-icon{
	width: 60px;
}
.headerFixo #brand small{
	display: none;
}
/**/
.tmg-section {
	position: relative;
	height: 100vh;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0A2936aa;
}
.tmg-section .title1{
	color: #fff;
}
.tmd-card{
	background-color: #D9D9D933!important;
	color: #fff;
	border-radius:20px;
	border: 2px solid #46B3E2;
	font-size: 24px;
	font-weight: 600;
	padding: 30px 0;
	/*border-image: linear-gradient(45deg, #FFFFFF 40%, #46B3E2 50%, #1476AD 80%);*/
}
.tmd-card img{
	margin-bottom: 20px;
}
.background-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	opacity: .5;
}

.content {
	z-index: 1;
}
.breadcrumbs{
	padding: 20px 0;
	font-size: 16px;
}
.breadcrumbs a{
	text-decoration: none;
	font-weight: 700;
}
/*pages*/
#trending-bts i{
	font-size: 30px;
}
.title-filter{
	font-family: "Roboto Serif";
	font-weight: 700;
	font-size: 24px;
}