/* @autor: BIREME | OPAS | OMS - > Márcio Alves */
*{
	font-family: 'Roboto', sans-serif;
}
.padding1{
	padding: 40px 0;
}
.padding2{
	padding: 0 0 40px 0;
}
.btn-success{
	background: #4e7952;
}
.bgColor1{
	background: #4e7952;
	color: #fff;
}
.bgColor2{
	background: #669966;
	color: #fff;
}
.fonte1{
	font-size: 12px;
}
.titulo1{
	padding: 30px 0;
	margin-bottom: 30px;
	background-image: linear-gradient(to bottom right, #eee, #f9f9f9);
	border-bottom:1px solid #ddd;
	position: relative;
}
.titulo1 h2{
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	font-weight: 300;
}
.titulo1::after{
	content: "";
	width:50%;
	height: 5px;
	background: orange;
	position: absolute;
	bottom: -3px;
	left: 25%;
}
#header{
	background: #669966;
	padding: 20px 0;
}
#logoMain img{
	margin-top: 5px;
}
#logosSecond img{
	max-width: 400px;
	margin-top: 10px;
}
#versionBeta{
	background: #fff;
	color: #4e7952;
	padding: 0 5px;
	text-align:center;
	font-size: 12px;
	font-weight: bold;
}
#to-top{
	cursor: pointer;
}
#to-top:hover{
	color: #4e7952;
}
.breadcrumb{
	background: #cee2ce!important;
}
/*Busca*/
#busca{
	background: #4e7952;
	padding: 20px 0;
	position: sticky;
	top: 0;
	z-index: 10;
}
#busca form{
	margin-bottom: 0;
}
.btnBoxSearch{
	text-align: right;
}
.inputBoxSearch input, 
.selectBoxSearch select{
	width: 100%;
	/* height: 100%; */
	border: 0px;
	margin-left: 10px;
	padding: 10px;
	outline: none;
	border-radius: 30px;
}
.formSelect{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/down.svg) no-repeat #fff;
	background-position: 100% center;
	border:1px solid #ddd;
	border-radius: 5px;
}
.btnBoxSearch button{
	background: #669966;
	color: #fff;
	border: 0;
	padding: 10px;
	height: 50px;
	width: 50px;
	border-radius: 30px;

}
.btnBoxSearch button:hover{
	background: #69af69;
}
.btnBoxSearch button i{
	font-size: 30px;
}
#footer{
	padding: 20px;
	font-size: 12px;
}
#footerTermos, #footerTermos a{
	color: #fff;
} 
/*home*/
#numeros{
	background: url("img/bgNumeros2.svg") #fff no-repeat fixed center;
	background-size: cover;
	font-family: 'Oswald', sans-serif;
}
#numeros h2{
	position: relative;
	padding-bottom: 20px;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
}
.numerosBox{
	margin: 0 0 30px 0;
}
.counter-up{
	font-size: 3em;
	font-weight: bold;
}
.homeConsult .titulo2{
	background: #4e7952;
	color: #fff;
	padding: 10px;
	margin: 20px 0;
	border-radius: 5px;
	text-align: center;
	transition: all .5s ease;
}
.homeConsult:hover .titulo2{
	border-radius: 15px;
	background: #669966;
}
.iconeCS{
	color: #4e7952;
	font-size: 50px;
	line-height: 100px!important;
	transition: all .5s ease;
}
/*select topo*/
.headerSearch{
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 30px;
}
.textBTSearch{
	display: none;
}
#navConsultaAvancada{
	margin-top: 10px;
	display: none;
}
#navConsultaAvancada a{
	color: #fff;
}
#language{
	float: right;
	margin-top: -21px;
	position: absolute;
	right: 0;
}
#language ul li{
	list-style: none;
	display: inline-block;
}
#language a{
	background:#4e7952;
	color: #fff;
	font-size: 12px;
	padding: 5px;
}
#language a:hover{
	background: #86b986;
	text-decoration: none;
}
.consultaAlfabetico{
	list-style: none;
	padding: 0;
	text-align: center;
}
.consultaAlfabetico span a{
	border:1px solid #ddd;
	display: inline-block;
	padding: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
	transition: background .5s ease;
}
.consultaAlfabetico span a:hover{
	background: #669966;
	color: #fff;
	text-decoration: none;
}
.consultaAlfabetico span .active{
	background: #669966;
	color: #fff;
}
.tree{
	list-style-type: none;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.tree li{
	margin: 0;
	padding: 0 0 0 20px;
	line-height: 25px;
}
.tree a b{
	text-decoration: underline;
	color: #4e7952;
	background: #ddd;
	padding: 5px;
}
.border-light {
	border-color: #6699664d!important;
}
.tab-content{
	border:1px solid #ddd;
	padding: 10px;
	border-top: 0;
}
.homeIconeConsulta{
	width: 110px;
	height: 110px;
	border: 5px solid #4e7952;
	transition: all .5s ease;
	border-radius: 50%;
	line-height: 125px;
	text-align: center;
	margin: 0 auto 15px;
}
.homeConsult:hover .homeIconeConsulta{
	border-color:#ebebeb;
	background: #4e7952;
}
.homeConsult:hover i{
	color:#ebebeb;
	font-size: 60px;
}
#indiceLetras{
	background: #f8f9fa;
	padding: 10px;
	text-align: center;
	margin-bottom:10px;
	/* position: sticky; top:70px;*/
}
.trigramaTree{
	background: #f9f9f9;
	padding: 20px;
	word-wrap: break-word;
	border-radius:0 10px 10px 0;
}
#linha{
	display: block;
	height: 1px;
	background: #ddd;
	position: relative;
	margin-bottom: 50px;
}
#linha::after{
	content: "";
	position: absolute;
	top: -2px;
	background: orange;
	height: 4px;
	width: 100px;
}
#hierarquico{
	display: none;
}
[data-toggle="dropdown"]:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f107";
}
.dropdown-toggle {
	display: flex;
}
.dropdown-toggle:after {
	border: none;
}
fieldset{
	border:1px solid #ddd;
	padding: 10px 20px;
	margin-bottom: 20px;
}
legend{
	font-size: 20px;
	padding: 10px;
	width: auto;
	font-weight: bold;
}
.titleMain p{
	margin: 0 0 10px 0;
}
.minWidth{
	min-width: 25px;
}
.carousel-control-next, .carousel-control-prev{
	opacity: 1;
}
.slick-prev::before, .slick-next::before{
	color: #4e7952!important;
}
#parceiros{
	background: #eee;
	padding: 20px;
}
.boxParceiros{
	transition: all .5s ease;
	padding: 20px;
}
.boxParceiros:hover{
	background: #ddd;
}
.indicacoes img{
	margin-bottom: 10px;
	border:1px solid #eee;
}
.indicacoes img:hover{
	filter: grayscale(50%);
}
.badgeWarning{
	background: #f9e9bb;
}
#widgetHome{
	padding: 20px;
	list-style: none;
}
/*#main_container{
	margin-top: -100px;
	padding-top: 100px;
}*/
/********** formulário **************/
label{
	width: 100%;
}
.wpcf7 {
	width: 100%;
}
.formLabel{
	display: block;
	font-weight: bold;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 select,
.wpcf7 textarea {
	font-size: 16px;
	background-color: #f5f5f5;
	border: none;
	width: 100%;
	padding: 2%;
}
.wpcf7 textarea{
	height: 100px;
}
/************** Breakpoint ****************/
@media (max-width: 768px){
	#logosSecond img{
		max-width: 100%;
	}
	#busca{
		position: static;
	}
	.selectBoxSearch{
		border: 0;
		width: 98%;
	}
	.inputBoxSearch input{
		border-top: 1px solid #ddd;
		border-radius: 0;
		width: 98%;
		margin-bottom: 10px;
	}
	.formSelect{
		background: url(img/downMobile.svg) no-repeat #fff;
		background-position: 100% center;
		width: 98%;
	}
	.btnBoxSearch{
		text-align: center;
	}
	.btnBoxSearch button{
		padding: 10px;
		width: 98%;
		float: none;
		margin-bottom: 5px;
	}
	.btnBoxSearch button i{
		font-size: 15px;
	}
	.textBTSearch{
		display: inline-block;
		font-weight: bold;
		padding-left: 10px;
	}
	.marginM1{
		margin-top: 20px;
	}
	#footerTermos div{
		text-align: center!important
	}
	#language{
		float: none;
		margin-bottom: 10px;
		position: static;
		text-align: center;
	}
	#myTab  .active{
		border:1px solid #ddd!important; 
		border-radius: 0px;
		background: #eee;
	}
	.hiddenMobile{
		display: none;
	}
	#barAcessibilidade, #logosSecond{
		text-align: center!important;
	}
}	
@media (max-width: 576px){
	#logoMain{
		text-align: center;
	}
	#logosSecond{
		text-align: center;
		margin-top: 20px;
	}
	.inputBoxSearch, .selectBoxSearch{
		width: 95%;
	}
}
@media (min-width: 1600px){
	.carousel img{
		width: 100%;
		background: red;
	}
}
/*coreçõe svg Internet Explorer Edge*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src$=".svg"]{
		width: 100%; 
	}
}