.navbar, .titulo1, .carousel-caption, .sectionBlue, #busca, .accordion
{direction:rtl; text-align:right;}
.carousel-caption h5, .carousel-caption a{float: right;}
.menuTopo ul, .menuTopo ul li{margin-right:0; padding-right:0;}
.menuTopo ul li{margin-left:20px;}
#footerAddress, .textoArabe{text-align: right;}
#footerWHO, #tituloSite{text-align: left;}
#libray, #outros{direction: rtl;}
#buscaInput{padding:10px 60px 15px 10px; background-position:99%;}
.formSelect{background-position: -3%;}
#logo2, #idiomas{direction:rtl; text-align: left!important;}
#buscaSubmit{right: auto; left: 20px;}
#acessibilidadeFontes{text-align: left;}
#acessibilidadeTutorial{text-align: right;}
/**************** Breakpoint****************/
@media (max-width: 992px){
	#buscaInput{padding:10px 110px 15px 10px; background-position:90%;}
	.formSelect{background-position: -2%;}
}
@media (max-width: 768px){
	#buscaInput{padding:10px 110px 15px 10px; background-position:85%;}
	#logo2, #idiomas, #tituloSite{text-align: center!important;}
}
@media (max-width: 560px){
	#buscaInput{padding:10px 40px 15px 10px; background-position:100%;}
}