/*Padrões*/
.sectionBlue{ background: #0093d5; color: #fff; }
	.sectionBlue a{color: #fff!important;}
	.sectionBlue a:hover{color: #ddd!important;}
.padding1{padding: 30px 0;}
.titulo1{
	border-bottom: 2px solid #0093d5; color: #0093d5;
	padding-bottom: 20px; margin-bottom: 20px; font-weight: bold;
}
.titulo2{
	border-bottom: 2px solid #fff;
	padding-bottom: 10px; margin-bottom: 20px; font-weight: bold;
}
/**/
header{padding-top: 10px;}
#idiomas{ font-size: 12px; text-align: right }
	#idiomas a{ color: #333; }
	#idiomas ul{list-style: none;}
		#idiomas ul li{display: inline-block;}
#tituloSite{ text-align: right; font-size: 40px; margin-top: 10px; color: #0093d5;}
.navbarblue{background: #0093d5; margin-top: 20px;}
.navbarblue a{color: #fff!important;}
.navBt{ background:  #fff; }
.navbarblue a:hover{color: #ccc!important;}
.menuTopo li{ padding-right: 20px; }
#busca{
	background: #ddd; color: #333;
	padding: 30px 0px;
}
#buscaInput{
	display:inline-block;
	outline:0; border:0;
	padding: 10px 10px 15px 50px; width: 100%;
	background: url(../img/search.svg) #fff no-repeat;
	background-position: 10px center;
	border-radius: 5px;
}
#buscaSubmit{
	position: absolute; top: 5px; right: 20px;
}
.formSelect{
	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
   	background: url(../img/down.svg) no-repeat #fff;
   	padding:10px; 
   	background-position: 100% center;
   	width: 255px;
   	/* height:40px; */
   	border:1px solid #ddd;	border-radius: 5px;
   	margin-bottom: 10px;
}
.homeList{
	padding: 10px; margin-bottom: 10px;
	border-bottom: 1px dotted #ddd;
	transition: 0.5s ease background;
}
.homeList:hover{
	background: #1172a0;
}
	.homeList a{
		color: #fff; text-decoration: none;
	}
#footer{
	background: #014c6e; color: #fff;
	font-size: 13px;
}
	#footer ul li a{
		color: #fff;
	}
#assFooter{
	background: #157daf; color: #51c6fb;
	font-size: 12px; padding: 10px 0;
}
#footerAddress{
	text-align: right
}
#assFooter img{
	max-width: 500px!important;
}
.acordionIcone{
	font-size: 18px; margin-top: 15px;
}
/*Home*/
#banners h5{
	display: inline-block; margin-bottom: 10px;
	padding: 10px; background: #0093d5; color: #fff;
}
.bannerLink{
	background: #0093d5; color: #fff; padding: 10px;
	padding-top: 5px;
}
.bannerLink:hover{
	background: #0d6690; text-decoration: none;
	color: #fff;
}
.bibliotecaHome img{ transition: filter 1s ease,  transform .5s ease; }
.bibliotecaHome h4{
	background: #7fc9ea; color: #fff; transition: all 1s ease; min-height: 82px;
	padding: 20px 10px; font-size: 18px; text-align: center; position: relative; 
}
.bibliotecaHome h4 span{top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; position: absolute; width: 100%;}
.bibliotecaHome a{text-decoration: none;}
.bibliotecaHome p{ padding: 10px; transition: background 1s ease; }
.bibliotecaHome:hover img{filter: brightness(0.95); transform: scale(0.95);}
.bibliotecaHome:hover h4{background: #0093d5;}
.bibliotecaHome:hover p{background: #eee;}
/*Area*/
.area{
	padding:20px; border: 1px solid #ddd;
	border-radius: 10px; text-align: center;
	transition: background 1s ease; 
}
.area:hover{ background: #eee; }
.area a{
	text-decoration: none; color: #333;
	font-size: 14px; 
}
.area a:hover{
	text-decoration: underline; color: #0093d5;
}
.area img{
	max-width: 100px; text-align: center;
	padding-bottom: 10px; transition: filter 1s ease;
}
.area:hover img{ filter: brightness(1.5); }
/********** formulário **************/
.wpcf7 { width: 100%;}
.formLabel{	display: block;	font-weight: bold;}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 select,
.wpcf7 textarea {
	font-size: 16px; background-color: #f5f5f5;
	border: none; width: 100%;	padding: 2%;
}
.wpcf7 textarea{
	height: 100px;
}
.wpcf7 input[type="submit"] {
	color: #ffffff;	font-size: 18px; font-weight: 700;
	background: #014c6e; padding: 10px 15px;
	border: none; border-radius: 5px;
	text-transform: uppercase;
}
.wpcf7 input:hover[type="submit"] {
	background: #1892ca;
	transition: all 0.4s ease 0s;
}
.wpcf7 input:active[type="submit"] {
	background: #000000;
}
.carousel-item img{width: 100%; }
.widgetDivisao{width: 100%; height: 2px; background: white; margin-top: 20px; margin-bottom: 30px;}
.widgetColumn ul li{font-size: 14px!important; margin-bottom: 10px; }
/************** Breakpoint *******************/
@media (min-width: 1600px){
	.carousel-item img{width: 100%;}
}
@media (max-width: 1200px){
	.formSelect{
	   	background-position: 100% center;
	   	width: 46%;
	}
}
@media (max-width: 992px){
	.formSelect{
	   	background-position: 100% center;
	   	width: 100%;
	}
}
@media (max-width: 768px){
	.paddingM1{padding-bottom: 10px;}
	#logo{text-align: center;}
		/* #logo img{ max-width: 350px;} */
	#idiomas{text-align: center; margin-top: 10px;}
	#tituloSite{text-align: center}
	.navbarblue{margin-top: 10px;}
	.menuTopo li{ padding: 10px; border-top: 1px solid #50a4f9; }
	.menuTopo li:first-child{border: 0;}
	.titulo2{ margin-top: 20px; }
	.carousel-item img{width: 100%;}
	#footer ul{padding: 0; list-style: none; }
	#footer{text-align: center;}
	#footerMenu{list-style:none; padding: 0;  }
	#footerAddress{text-align: center; margin-top: 10px;}
	.bibliotecaHome h4{min-height: auto; position: static; width: auto; padding: 20px; }
	.bibliotecaHome h4 span{position: static; width: auto; padding: 0;}
	#assFooter img{max-width: 90%!important;}
	.widgetColumn{ margin-bottom: 20px; border-bottom: 2px solid #fff; }
	.widgetDivisao{display: none;}
}
@media (max-width: 560px){
	#tituloSite{font-size: 25px;}
	.formSelect{
	   	background-position: 98% center;
	   	width: 100%;
	}
	#buscaSubmit{display: none;}
}