/*

*/
body {
	font-size: 0.9rem !important;	
	}
.container {
	width: 1000px;
	margin: 0 auto;
}

.bar {
	font-size: 80%;
	float: right;
	padding: 4px;
	}

.bar div {
	float: right;
	}
.bar div li {
	float: left;
	margin: 0px 5px;
}
.header {
	height: 110px;	
	}
#parent {
	margin-top: 10px;		
	float: left;
	margin-left: 10px;
	}
.site_name {
	float: left;
	font-size: 150%;
	margin-top: 50px;
	margin-left: 30px;
	width: 300px;		
	}
		
.column {
	float: left;
	margin: 5px;
	}
	
.spacer {
	clear: both;
	display: block;	
	}
	
.archive-title, .page-title, .widget-title, .entry-content th, .comment-content th {
	text-transform: inherit !important;
	font-size: 1rem !important;	
	}
	
.container h3 {
	border-bottom: 2px solid;
	margin-bottom: 5px;
	line-height: 150%;
	padding: 0% 0.4rem;
}
.column .widget {
	margin-bottom: 10px;
	padding-bottom: 10px;
}	
.column .widget DIV {	
	padding: 10px;
	}
.widget ul {
	margin: 5px;	
	}
.widget ul li {
	line-height: 150%;	
	}

/* Themes - 1 columns */
.vhl-themes li {
    margin: 0% 2% 1% 0%;
}
.vhl-themes li img {
    float: left;
    margin: 0 6px 0 0;
}
.vhl-themes li h4 a {
    font-weight: normal;
}

/* Themes - 2 columns */
.double li {
    float: left;
    width: 45%;
    margin: 0% 2% 1% 0%;
	height: 45px;
	line-height: 120% !important;
}
.double li img {
    float: left;
    margin: 0 6px 0 0;
}
.double li h4 {
	clear: none;
	
}
.double li h4 a {
    font-weight: normal;
}


	
.footer {
	padding: 10px;
	font-size: 0.75rem;
	line-height: 150%;
	clear: both;	
	}
	
.footer h3 {
	display:none;
}

.institutionalFooter IMG {
    float: left;
    margin-right: 4px;
}

.footer img {
	box-shadow: 0 !important;
	border: none !important;
}

body.single .site-content {
	padding: 10px;	
	}
	
.single1column {
	width: 65% !important;
	float: left !important;	
	}
	
.single2column {
	width: 33%;
	float: left;	
	}