/* === This removes the default style of browsers. === */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {	line-height: 1; }
ol, ul { list-style: none; }
li {	
	list-style: square;
	text-align: left;
 }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
h1, h2, h3, h4, h5, h6 { 	
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {	display: block; }
audio, canvas, video {	display: inline-block; }
audio:not([controls]) {	display: none; }
del { color: #333; }
ins { background: #fff9c0; text-decoration: none; }
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* === Template Style === */
body, html {
	width: 100%;
}

body, #wpsp-continue, #wpsp-month, #wpsp-day, #wpsp-year {
	font: 22px Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	text-align: center;
}

a {
	text-decoration: underline;
}

h3 {
	font-size: 26px;
}

#wpsp-container {
	margin: 50px auto;
	/*width: 1000px;*/
}

#wpsp-title{
	font-size: 40px;
	margin-bottom: 30px;
}

#wpsp-text {
	margin: 10px 0;
}

#player {
	max-width: 1000px;
}

#wpsp-birthday-fieldset {
	border: 1px solid;
	margin-bottom: 10px;
	padding: 10px 10px 20px;
}

#wpsp-birthday-fieldset legend {
	margin: 0 auto;
}

#wpsp-birthday-fieldset input {
	border: 1px solid;
	margin: 0 10px;
	padding: 5px 0;
	line-height: 1;
}

#wpsp-year, #wpsp-month, #wpsp-day {
	width: 90px;
}

#wpsp-opt-in{
	display: block;
	margin: 10px 0;

}

#wpsp-continue {
	display: inline-block;
	cursor: pointer;
	padding: 10px 20px;
	margin: 10px 0;
	text-decoration: none;
	border: 0;
}

.languages {
	display: inline-grid;
}

/* === Dynamic Style === */
body {
	border-top: 30px solid #4989c8;
	background-color: #fdfdfd;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left top;
	color: #555555;
}

::selection {
	color: #fdfdfd;
	background-color: #649089;
}

#wpsp-title {
    color: rgba(0, 0, 0, 0);
    background: url(images/crics.png) center no-repeat;
    height: 400px;
}
#wpsp-text{color: #948f8f; font-size: 200%;
    line-height: 66px; 
     padding-bottom: 65px;}

#wpsp-birthday-fieldset, #wpsp-birthday-fieldset input {
	border-color: #649089;
	color: #555555;
}

#wpsp-continue {
	background-color: #4989c8;
    color: #fff;
    font-size: 200%;
    border-radius: 13px;
    padding: 27px;
}

#wpsp-continue:hover {
	background-color: #649089;
	color: #eeeeee;
}
