*{
	font-family: 'Lato', sans-serif;
}
a{
	color: #333;
	outline: none;
}
a:hover{
	color: #777;
	text-decoration: none;
}
.color1{
	background: #2273a2;
	color: #fff;
}
.color1 a{
	color: #fff;
}
.color1 a:hover{
	color: #ccc;
}
.color2{
	background: #efefef;
}
.margin1{
	margin-bottom: 20px;
}
.title1{
	font-family: 'Hind', sans-serif;
	color: #00420c;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.title2{
	font-family: 'Hind', sans-serif;
	margin-bottom: 10px;
}
.title3{
	font-family: 'Hind', sans-serif;
	color: #00420c;
}
#header{
	padding-top: 20px;
	padding-bottom: 20px; 
}
#header h1{
	font-family: 'Hind', sans-serif;
	font-weight: bold;
}
#headerSocial{
	text-align: right;
	font-size: 24px;
}
.twitter{
	color: #3fc6ee;
}
.facebook{
	color: #1a4789;
}
.youtube{
	color: #cf2224;
}	
.twitter, .facebook, .youtube{
	 margin-left: 10px;
	transition: all .5s ease;
}
.twitter:hover, .facebook:hover, .youtube:hover{
	opacity: .7;
}
#sectionSearch{
	background: url('../img/bgSearch.jpg') center;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 30px;
	color: #fff;
	border-bottom: 10px solid #f7921b;
}
#nav{
	background: #1780b4!important;
	font-weight: 400;
	color: #fff;
	font-family: 'Hind', sans-serif;
}
#navMain>li>a{ 
	color: #fff;
}
#navMain>li>a:hover{
	opacity: .8;
}
.navbar-dark .navbar-nav .nav-link{
	color: #fff;
}
.padding1{
	padding: 30px 0;
}
.padding2{
	padding: 50px 0;
}
#footer{
	background: #1780b4;
	border-bottom: 10px solid #f7921b;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.navFooter ul{
	padding-left: 10px;
}
.navFooter>ul>li{
	list-style: none;
	padding-left: 10px;
}
.navFooter ul{
	list-style: url(../img/arrowNext.svg);
	margin-bottom: 14px;
}
.navFooter a{
	color: #fff;
	font-size: 14px;
}
.navFooter a:hover{
	color: #aaa;
}
#footerSocial a{
	color: #fff;
	margin-right: 10px;
	font-size: 20px;
}
#footerSocial a:hover{
	color: #aaa;
}
/*news home*/
.slideNewsBox{
	padding-right: 20px;
}
.slideNewsBox a:hover{
	text-decoration: none;
}
.slideNewsBox h4{
	font-size: 18px;
}
.slideNewsDate{
	color: #999;
	font-size: 12px;
	margin-bottom: 10px;
	border-bottom: 2px solid #f7921b;
}
.newsBox{
	margin-bottom: 30px;
}
.produtosBox{
	padding: 10px;
}
.produtosBox h5{
	font-weight: bold;
	font-family: 'Hind', sans-serif;
}
.produtosBox a{
	color: #333;
}
.produtosBox a:hover, .produtosBox:hover img{
	opacity: .5;
	text-decoration: none;
	color: #666;
}
.produtosBox img{
	border-radius: 10px;
	background: #ddd;
	border-bottom: 3px solid #f7921b;
	transition: all .5s ease;
	padding-bottom: 0px;
	margin-bottom: 20px;
}
.produtosBox:hover img{
	padding-bottom: 5px;
}
.paginacao a{
	border: 2px solid #ddd;
	background: #f8f9fa;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 3px;
}
.paginacao a:hover{
	background: #ddd;
	text-decoration: none;
}
.boxResultSearch{
	border-bottom: 1px solid #ddd;
	padding-bottom:5px;
	margin-bottom:5px;
}
.boxResultSearch a{
	text-decoration: none;
}
#content{
	float: none;
	padding-top: 20px;
	border-top: 5px solid #1780b4;
}
nav.pagination { text-align: center; display: block;  }
nav.pagination h2 { display: none; }
@media(max-width: 768px){
	.marginM1{
		margin-bottom: 20px;
	}
	#logo, #headerSocial, #footerSocial{
		text-align: center;
		margin-top: 30px;
	}
}