#tvContainer{
	width: 1024px; /*width: 3840px;*/
	height: 768px; /*height: 2160px;*/
	margin: auto;
	overflow: hidden;
}
#tvMain{
	height: 768px; /*height: 2160px;*/
	overflow:hidden;
	position: relative;
}
#tvTitle{
	height: 80px; /*height: 300px;*/
}
#tvCarousel .carousel-caption{
	width: 100%;
	height: 120px; /*height: 440px;*/
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
	text-align: left;
}
	#tvCarousel .carousel-caption h5{
		margin-left: 50px;
		font-size: 30px; /*font-size: 80px;*/
		width: 93%;
	}	
	#tvCarousel .carousel-caption p{
		margin-left: 50px;
		font-size: 20px; /*font-size: 60px;*/
		width: 93%;
		line-height: 30px; /*line-height: 60px;*/
	}
#tvNews{
	height: 768px; /*height: 2160px;*/
	position: relative;
	background: #1a3b6d;
	color: #fff;
}
	#tvNewsNext{
		height: 550px; /*height: 1560px;*/
		padding: 5px; /*padding: 30px 20px;*/
		overflow:hidden;
		border-bottom: 1px solid #ddd;
	}
	#tvNewsNext h2{
		font-size: 30px; /*font-size: 60px;*/
		padding-bottom: 10px; /* padding-bottom: 20px;*/
		border-bottom: 2px solid #ddd; /*border-bottom: 5px solid #ddd;*/
	}
		.tvNewsLoop{
			width: 100%;
			margin: auto;
			font-size: 16px; /*font-size: 40px;*/
			padding: 5px 0; /*padding: 20px 0;*/
			border-bottom: 1px solid #ddd;
		}
		.tvNewsLoop:nth-last-child(1){
			border-bottom: none;
		}
		#tvNewsNext .active{
			color: #ff0;
		}
	#tvNewsEquipe{
		font-size: 12px; /*font-size: 30px;*/
		width: 100%;
		margin: auto;
		height: 200px; /*height: 440px;*/
		padding: 10px; /*padding: 30px;*/
	}
		#tvNewsEquipe img{
			margin-top: 10px;
		}
#tvFooter{
	width: 100%;
	background-color: #000;
	color: #fff;
	padding: 10px 30px; /*padding: 10px 70px;*/
	position: absolute;
	bottom: 0;
	z-index: 10;
}
	#tvFooterHora{
		font-size: 20px; /*font-size: 70px;*/
		font-weight: bold;
	}
	#tvFooterEmail{
		font-size: 16px; /*font-size: 50px;*/
	}
.current_text, .weather-atlas-footer{
	display: none;
}
/*********** Padrões *************/
.title1{
	margin-bottom: 30px;
	padding-bottom: 10px;
	font-size: 30px;
	position: relative;
	padding-bottom: 15px;
}
	.title1::before{
		content: "";
	    position: absolute;
	    bottom: 2.5px;
	    left: 0;
	    height: 3px;
	    width: 100%;
	    background: #1a3b6d;
	}
	.title1::after{
		content: "";
	    position: absolute;
	    bottom: 0px;
	    left: 0;
	    height: 10px;
	    width: 10%;
	    background: #ddd;
	}
.title2{
	margin-bottom: 20px;
}
.imgOpacity{
	transition: filter .5s ease;
}
.imgOpacity:hover{
	filter: opacity(0.7);
}
#nav{
	margin-bottom: 20px;
}
.imgPost{
	float: left; width: 400px;
	margin: 0 20px 10px 0px;
}
.postsInter{
	margin-bottom: 20px;
}
.postsInter img{
	margin-bottom: 10px;
}
.imEffect img{
	transition: filter 1s ease;
}
.imEffect:hover img{
	filter: sepia(80%);
}
/*********** Site *************/
.bg-dark{
	background-color: #1a3b6d!important;
}
#recent{
	margin-top: 20px;
	margin-bottom: 20px;
}
#formHome{
	margin-top: 20px;
	width: 100%;
	float: right;
}
#formHome .form-group{
	text-align: right; 
}
#submitHome{
	margin-left: 5px;
}
#banner .carousel-item{
	height: 350px;
	overflow: hidden;
}
#banner .carousel-caption{
	background: rgba(0, 0, 0, .6);
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 20px;
	text-align: left;
	line-height: 15px;
}
	#banner .carousel-caption a{
		color: #fff;
	}
	#banner .carousel-caption a:hover{
		color: #ccc;
		text-decoration: none;
	}
#category{
	background: #efefef;
	border-bottom: 5px solid #1a3b6d;
	padding: 20px;
}
#category>ul>li{
	list-style: none;
}
.categoryHome a:hover{
	color: #666;
}
#category ul, .categoryHome ul{
	list-style: square;
	padding-left: 20px;
}
.categoryHome ul li{
	margin: 5px 0;
	padding: 5px 0;
	border-bottom: 1px dotted #ddd;
}
#footer{
	font-size: 12px;
	background-color: #1a3b6d;
	color: #fff;
	padding: 30px;
	margin-top: 30px;
	border-top: 40px solid #ddd;
}
#enquete{
	padding: 20px 10px;
	margin-bottom: 20px;
	background: #efefef;
	border-bottom: 5px solid #1a3b6d;
}
.paginacao a{
	border: 2px solid #ddd;
	background: #f8f9fa;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 3px;
}
.paginacao a:hover{
	background: #ddd;
	text-decoration: none;
}
/********** formulário **************/
label{
	width: 100%;
}
.wpcf7 {
	width: 100%;
}
.formLabel{
	display: block;
	font-weight: bold;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 select,
.wpcf7 textarea {
	font-size: 16px;
	background-color: #f5f5f5;
	border: none;
	width: 100%;
	padding: 2%;
}
.wpcf7 textarea{
	height: 100px;
}
@media (max-width: 992px){
	#formHome{
		margin-top: 15px;
	}
}
@media (max-width: 768px){
	#banner .carousel-item{
		height: auto;
	}
	#formHome{
		margin-top: 10px;
		margin-bottom: 10px;
		float: none;
	}
	#category{
		background: #fff;
		padding: 20px;
	}
	.category{
		padding: 0 10px ;
		background: none;
	}
	.categoryHome{
		/*background-color: #eee;*/
		padding: 0 20px;
	}
	#footerImg{
		margin-top: 10px;
		text-align: center!important;
	}
	#banner .carousel-caption{
		background: #000;
		position: static!important;
	}
}